@font-face {
    font-family: brand;
    src: url(./8186twklausanne.ttf);
    font-weight: 100
}
@font-face {
    font-family: brand;
    src: url(./3413twklausanne.woff2);
    font-weight: 200;
}
@font-face {
    font-family: brand;
    src: url(./3413twklausanne.woff2);
    font-weight: 400;
}
@font-face {
    font-family: brand;
    src: url(./3413twklausanne.woff2);
    font-weight: 900;
}
* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     /* font-family: Gilroy; */
}

html , body {
     height: 100%;
     width: 100%;
}
body{
    background-color: #F1EEE5;
}
nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    z-index: 99999;
    width: 100%;
    padding: 3vw 1.2vw;
  /* background-color: black; */

}
nav svg{
    height: 3.5vw;
    mix-blend-mode: difference;
}

nav .navpart2 h4{
  display: flex;
  flex-direction: column;
  /* gap:60px; */
  font-size: 1.8vw;
  text-transform: uppercase;
  /* background-color: red; */
  color: black;
  mix-blend-mode: difference;
  font-weight: 600;
  margin-right:3vw ;
  margin-bottom: 0.8vw;
  font-family: brand;
}
.page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-color: lightgray;
    background-image: url("https://images.unsplash.com/photo-1504051771394-dd2e66b2e08f?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==");
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: 50% 20% ;
    padding-bottom: 55vh;
    padding-top: 5.4vw;
    padding-left: 4vw;

}
.page1 h1{
    font-size: 18vw;
    line-height: 12.8vw;
    color: #ffffff;
    font-family: brand;
    letter-spacing: 14px;
    mix-blend-mode: exclusion;
    font-weight: 400;

}
.page1 h1 span{
    display: inline-block;
}
.page1-text{
    /* background-color: red; */
    /* height: fit-content; */
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    padding-bottom: 24px;
    padding-top: 24px; 
}
#page1 h1 span{
    display: inline-block;
}
.page2{
    min-height: 100vh;
    width: 100%;
    border-top-right-radius:8.5vw ;
    border-top-left-radius:8.5vw ;
    background-color: black;
    mix-blend-mode: difference;
    /* position: absolute; */
    /* z-index: 99;  */
}
.page2 h4{
    color: #CAED06;
    padding-top: 15vw;
    padding-left: 3vw;
    font-family: brand;
    font-weight: 100;
}
.page2 p{
    color: white;
    font-size: 3.7vw;
    width: 75vw;
    padding-top: 2vw;
    padding-left: 3vw;
    font-family: brand;
    font-weight: 100;
    line-height: 5vw;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(100, 96, 96);
}